<!DOCTYPE html>
<html>

<head>

<title>Carpool Network</title>

<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

<style>

body{
font-family: Arial;
margin:20px;
}

#cy{
width:100%;
height:700px;
border:1px solid #ccc;
}

</style>

</head>

<body>

<h2>Carpool Road Network</h2>

<div id="cy"></div>

<script>

let cy;

function loadGraph(){

fetch("/network/")
.then(res => res.json())
.then(data => {

    if(!cy){

        cy = cytoscape({

            container: document.getElementById('cy'),

            elements: data,

            style: [

              {
                selector: 'node',
                style: {
                  'label': 'data(label)',
                  'color': 'white',

                  'background-color': function(ele){

                      let demand = ele.data("demand")

                      if(demand >= 5) return "red"
                      if(demand >= 3) return "orange"
                      if(demand >= 1) return "yellow"

                      return "#0074D9"
                  }

                }
              },

              {
                selector: 'edge',
                style:{
                  'width':3,
                  'line-color':'#ccc'
                }
              },

              {
                selector: '.route',
                style:{
                  'line-color':'green',
                  'width':6
                }
              },

              {
                selector: '.driver',
                style:{
                  'background-color':'green',
                  'label':'🚗',
                  'font-size':20,
                  'text-valign':'center',
                  'text-halign':'center',
                  'width':30,
                  'height':30
                }
              },

              {
                selector: '.pickup',
                style:{
                  'background-color':'orange',
                  'label':'🧍',
                  'font-size':18,
                  'text-valign':'center',
                  'text-halign':'center',
                  'width':25,
                  'height':25
                }
              }

            ],

            layout:{
                name:'cose'
            }

        });

    }

    else{

        cy.elements().remove();
        cy.add(data);

    }

    animateDrivers();

});

}


function animateDrivers(){

    cy.nodes('.driver').forEach(function(node){

        let target = node.data('node');

        if(target){

            let targetNode = cy.getElementById(target);

            node.animate({
                position: targetNode.position()
            },{
                duration:2000
            });

        }

    });

}


loadGraph();

setInterval(loadGraph,3000);

</script>

</body>

</html>